# Clustering whisky distilleries according to tasting Profiles

Using K-Means clustering to cluster whisky distilleries by their tasting profile. we will be using the elbow method to find the optimal number of clusters. k-means clustering is very sensitive to scale due to its reliance on Euclidean distance so be sure to normalize data if there are likely to be scaling problems.

In [1]:
import pandas as pd
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans

In [2]:
whisky = pd.read_csv('../data/whisky.csv')

#### Checking columns and their names.

In [3]:
whisky.columns

Index(['RowID', 'Distillery', 'Body', 'Sweetness', 'Smoky', 'Medicinal',
       'Tobacco', 'Honey', 'Spicy', 'Winey', 'Nutty', 'Malty', 'Fruity',
       'Floral', 'Postcode', 'Latitude', 'Longitude'],
      dtype='object')

In [4]:
whisky.describe()

,RowID,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Latitude,Longitude
count,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,8.600000e+01
mean,43.500000,2.069767,2.290698,1.534884,0.546512,0.116279,1.244186,1.383721,0.976744,1.465116,1.802326,1.802326,1.697674,287247.162791,8.026597e+05
std,24.969982,0.930410,0.717287,0.863613,0.990032,0.322439,0.853175,0.784686,0.932760,0.821730,0.629094,0.779438,0.855017,67889.046814,8.802422e+04
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126680.000000,5.542600e+05
25%,22.250000,2.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,265672.500000,7.556975e+05
50%,43.500000,2.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,319515.000000,8.398850e+05
75%,64.750000,2.000000,3.000000,2.000000,1.000000,0.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,328630.000000,8.507700e+05
max,86.000000,4.000000,4.000000,4.000000,4.000000,1.000000,4.000000,3.000000,4.000000,4.000000,3.000000,3.000000,4.000000,381020.000000,1.009260e+06

#### Checking for null values.

In [5]:
whisky.isna().sum()

RowID         0
Distillery    0
Body          0
Sweetness     0
Smoky         0
Medicinal     0
Tobacco       0
Honey         0
Spicy         0
Winey         0
Nutty         0
Malty         0
Fruity        0
Floral        0
Postcode      0
Latitude      0
Longitude     0
dtype: int64

In [6]:
flavours = whisky.iloc[:,2:14]

In [7]:
correlation = flavours.corr()

In [8]:
# correlation heatmap

plt.figure(figsize=(12,12))
sns.heatmap(correlation, vmin=-1, vmax=1, annot=True, linewidth=0.1)

TypeError: 'module' object is not callable

In [ ]:
distilation = []

for i in range(2,15):
    km = KMeans(n_clusters = i, n_init=10, max_iter = 500, random_state =0)
    km.fit(whisky.iloc[:, 2:14])
    distilation.append(km.inertia_)
    
plt.plot(range(2,15),distilation)
plt.show()

In [9]:
distilation = np.zeros(20)

for i in range(2,20):
    km = KMeans(i, init='k-means++', max_iter=100, n_init=1, verbose=True)
    result = km.fit((whisky.iloc[:, 2:14])
    distilation[i] = result.inertia_
    print(result.inertia_)

SyntaxError: invalid syntax (<ipython-input-9-6d6b5274cce2>, line 6)